run = "npm run start"
start = "yarn start"
modules = ["nodejs-20", "nix"]

[deployment]
run = ["sh", "-c", "npm run start"]

[nix]
channel = "stable-23_11"

[[ports]]
localPort = 3000
externalPort = 80