SESSION_ID="levanter_sessionid"
VPS="true"
AUTO_UPDATE="true"
PREFIX = .
STICKER_PACKNAME = mrfedha
ALWAYS_ONLINE = false
RMBG_KEY = null
LANGUAG = en
WARN_LIMIT = 3
FORCE_LOGOUT = false
BRAINSHOP = 159501,6pq8dPiYt7PdqHz3
MAX_UPLOAD = 200
REJECT_CALL = false
SUDO = 989876543210
TZ = Africa/kenya
VPS = true
AUTO_STATUS_VIEW = true
SEND_READ = false
AJOIN = true
DISABLE_START_MESSAGE = false
PERSONAL_MESSAGE = null" > config.env

