SESSION_ID="levanter_12c702bef8664246c09e92370b9a909882"
VPS="true"
AUTO_UPDATE="true"
echo "SESSION_ID ='levanter_12c702bef8664246c09e92370b9a909882'
PREFIX = 🔥
STICKER_PACKNAME = 𓄂⍣⃝𝐖𝐀𝐍𝐒𝐇𝐈𝐍𝐎༆
ALWAYS_ONLINE = true
RMBG_KEY = null
LANGUAG = en
WARN_LIMIT = 3
FORCE_LOGOUT = false
BRAINSHOP = 159501,6pq8dPiYt7PdqHz3
MAX_UPLOAD = 200
REJECT_CALL = false
SUDO = 50933116776
TZ = Asia/Kolkata
VPS = true
AUTO_STATUS_VIEW = true
SEND_READ = true
AJOIN = true
DISABLE_START_MESSAGE = false
PERSONAL_MESSAGE = null" > config.env
